// Menu Button
.menu-btn {
  position: absolute;
  z-index: 3;
  right: 35px;
  top: 35px;
  cursor: pointer;
  @include easeOut();

  .btn-line {
    width: 28px;
    height: 3px;
    margin: 0 0 5px 0;
    background: #fff;
    @include easeOut();
  }

  // Rotate into X
  &.close {
    transform: rotate(180deg);

    .btn-line {
      // Line 1 - Rotate
      &:nth-child(1) {
        transform: rotate(45deg) translate(5px, 5px);
      }
      // Line 2 - Hide
      &:nth-child(2) {
        opacity: 0;
      }

      // Line 3 - Rotate
      &:nth-child(3) {
        transform: rotate(-45deg) translate(7px, -6px);
      }
    }
  }
}

// Menu Overlay
.menu {
  position: fixed;
  top: 0;
  width: 100%;
  visibility: hidden;

  &.show {
    visibility: visible;
  }

  &-branding,
  &-nav {
    display: flex !important;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    float: left;
    width: 50%;
    height: 100vh;
    overflow: hidden;
  }

  &-nav {
    flex: 1;
    margin: 0;
    padding: 0;
    background: $primary-color-contrast;
    list-style: none;
    transform: translate3d(0, -100%, 0);
    @include easeOut(0.4s);

    &.show {
      // Slide in from Top
      transform: translate3d(0, 0, 0);
    }
  }

  // Branding Side
  &-branding {
    background-color: $primary-color;
    @include easeOut(0.4s);
    transform: translate3d(0, 100%, 0);

    &.show {
      transform: translate3d(0, 0, 0);
    }

    .portrait {
      width: 280px;
      height: 280px;
      // background: $portrait-image;
      background: url("../img/portrait.png");
      background-size: cover;
      border-radius: 50%;
      border: solid 10px $secondary-color;
    }
  }

  // Nav Items
  .nav-item {
    transform: translate3d(600px, 0, 0);
    @include easeOut(0.4s);

    &.show {
      transform: translate3d(0, 0, 0);
    }

    &.current > a {
      color: $secondary-color;
      font-weight: 700;
    }
  }

  // Nav Links
  .nav-link {
    display: inline-block;
    position: relative;
    font-size: 30px;
    text-transform: capitalize;
    padding: 1rem;
    font-weight: 700;
    color: #fafafa;
    text-decoration: none;
    @include easeOut(0.3s);

    &:hover {
      color: $secondary-color;
    }
  }
}

// Delay each nav item slide by 0.1s
@for $i from 1 through 4 {
  .nav-item:nth-child(#{$i}) {
    transition-delay: $i * 0.1s;
  }
}
