@import "config";
@import "menu";

* {
  box-sizing: border-box;
}

body {
  @include background();
  background-color: $primary-color;
  color: #fafafa;
  height: 100%;
  margin: 0;
  font-family: "Open Sans", sans-serif;
  line-height: 1.5;
}

// Typography
h1,
h2,
h3 {
  margin: 0;
  font-weight: 400;

  // &.lg-heading {
  //   font-size: 6rem;
  // }

  &.sm-heading {
    padding-left: 0.5rem;
    margin-bottom: 2rem;

  }
}

h1 {
  line-height: 1.3;
}

a {
  text-decoration: none;
  color: #fafafa;
}

header {
  position: fixed;
  z-index: 2;
  width: 100%;
}

.text-secondary {
  color: $secondary-color;
}

main {
  padding: 4rem;
  // height: 100%;
  min-height: calc(100vh - 60px);

  &#home {
    overflow: hidden;
    h1 {
      margin-top: 25vh;
    }
  }

  .icons {
    margin-top: 1rem;

    a {
      padding: 0.4rem;
      &:hover {
        color: $secondary-color;
        @include easeOut();
      }
    }
  }
}

.about-info {
  display: grid;
  justify-content: center;
  gap: 30px;
  grid-template-areas:
    "bioimage bio bio"
    "job1 job2 job3";
  grid-template-columns: repeat(3, 1fr);

  .bio-image {
    grid-area: bioimage;
    margin: auto;
    border-radius: 50%;
    border: $secondary-color 4px solid;
  }

  .bio {
    font-size: 1.5rem;
    grid-area: bio;
  }

  .job-1 {
    grid-area: job1;
  }

  .job-2 {
    grid-area: job2;
  }

  .job-3 {
    grid-area: job3;
  }

  .job {
    background: $primary-color-contrast;
    padding: 0.5rem;
    border-bottom: $secondary-color 5px solid;
  }
}

// Work/Projects
.projects {
  display: grid;
  gap: 0.7rem;
  grid-template-columns: repeat(3, 1fr);

  img {
    width: 100%;
    border: 3px $primary-color-contrast solid;
  
    &:hover {
      opacity: 0.5;
      border-color: $secondary-color;
      @include easeOut
    }
  }
}

// Button Styles
.btn {
  display: inline-block;
  padding: 0.3rem 1rem;
  border: 0;
  border-radius: 10px;
  margin-bottom: 0.3rem;

  &:hover {
    background-color: $secondary-color;
    color: set-text-color($secondary-color);
  }
}

.btn-dark {
  @extend .btn;
  // background-color: darken($primary-color, 50);
  background-color: $primary-color-contrast;
  color: #f2f2f2;
}

.btn-light {
  @extend .btn;
  background-color: lighten($primary-color, 80);
  color: #333;
}

.btn-block {
  font-size: large;
  background-color: $primary-color-contrast;
  display: inline-block;
  border-radius: 10px;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  max-width: 15rem;
  padding: 1rem;

  &:hover {
    color: $primary-color-contrast;
    background-color: $secondary-color;
  }
}

#main-footer {
  text-align: center;
  padding: 1rem;
  background: darken($primary-color, 2);
  color: #fafafa;
  height: 60px;
}


@import "mobile";
